@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <!--Topics Area-->
        <div class="col-3 round-border" style="height:400px;overflow:auto" id="TopicsArea">
            <!--<script>ShowTopics()</script>-->
        </div>
        <!--Content Area-->
        <ul class="col-8 offset-1 round-border" style="height:516px;overflow:auto" id="ContentText"></ul>
    </div>
    <!--Input Interface-->
    <div class="row">
        <div class="col-8 offset-4">
            <div class="row">
                <div class="col-9">
                    <input type="text" id="textBox" class="form-control" placeholder="Message" style="height:50px">
                </div>
                <div class="col-3">
                    <button class="btn btn-primary" style="width:160px;height:50px;" onclick="sendMessage()">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>
