@{
    ViewData["Title"] = "Logout";
}
<h1>@ViewData["Title"]</h1>
<h4>Confirm to logout?</h4>
<button class="btn btn-primary" style="width:160px;height:50px;" onclick="authResponse('Logout')">Submit</button>